---
import { createMarkdownProcessor } from '@astrojs/markdown-remark';

const markdownProcessor = await createMarkdownProcessor({
  smartypants: false,
  syntaxHighlight: false,
});

const { titre, contenu } = Astro.props;
const { code: contenuHTML } = await markdownProcessor.render(contenu ?? '', {
  fileID: 'AccordionContent',
});
---
<details class="etiquette-accordion">
  <summary>{titre}</summary>
  <div class="accordion-content" set:html={contenuHTML}></div>
</details>
